In [3]:
import numpy as np
import pandas as pd


df = pd.DataFrame(np.random.randn(10, 5), 
                  index=list(range(1, 11)), 
                  columns=list('ABCDE'))
df

           A         B         C         D         E
1  -0.814229 -0.328739  0.629563  0.974343 -0.039993
2   0.314378  0.281874 -1.585459  1.488675  0.615589
3   0.659916  2.109575 -0.531791 -2.179491 -1.601635
4   0.254551  0.270931 -1.275247 -0.761837 -0.198698
5   0.155936  1.145131 -0.073157 -0.310770  0.039096
6  -1.096099  0.503652  0.280525 -0.989391  1.463298
7   1.616523  0.583213 -1.169004 -2.177347  1.473185
8   0.168314 -1.734581  0.007148  0.059797  1.121195
9  -0.220529  0.439348 -2.372895  0.212192 -1.180843
10 -0.273709 -0.792671 -1.440523 -0.584596 -0.367939

In [15]:
df_shifted = df.shift(-int(0.1 * len(df)))
df_shifted

           A         B         C         D         E
1   0.314378  0.281874 -1.585459  1.488675  0.615589
2   0.659916  2.109575 -0.531791 -2.179491 -1.601635
3   0.254551  0.270931 -1.275247 -0.761837 -0.198698
4   0.155936  1.145131 -0.073157 -0.310770  0.039096
5  -1.096099  0.503652  0.280525 -0.989391  1.463298
6   1.616523  0.583213 -1.169004 -2.177347  1.473185
7   0.168314 -1.734581  0.007148  0.059797  1.121195
8  -0.220529  0.439348 -2.372895  0.212192 -1.180843
9  -0.273709 -0.792671 -1.440523 -0.584596 -0.367939
10       NaN       NaN       NaN       NaN       NaN